@import "styles.scss";

.app {
  width: 100%;
  height: 100%;
  @include flex-center-col;
}
// Sections
.section {
  width: 100%;
  @include flex-align-center-col;
  .container {
    max-width: 1440px;
    width: 100%;
    position: relative;
  }
}

.section-2 {
  min-height: 100vh;
  height: 100%;
  border-radius: 52px 52px 0 0;
  background-color: #17181B;
  .global-video {
    max-height: 150vw;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}